h1 {

    color: white;
    background-color: rgb(6, 6, 114);
    text-align: center;
    font-family: arial;
    padding: 10px;
    color: aliceblue;
    border: 10px solid #10006b;
    border-bottom: none;
    text-decoration: none;


}

a {
    color: white;
    background-color: rgb(6, 6, 114);
    text-align: center;
    font-family: arial;
    

    padding: 10px;
    color: aliceblue;
    border: 10px solid #10006b;
    border-bottom: none;
    text-decoration: none;
}
table{
    color: white;
    background-color: #1069ad;
text-align: center;  
font-family: arial;
size: 50px;
font-weight: 400;
font-family: serif;

}



h2 {
    background-color: rgb(182, 196, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}