h1 {

    color: white;
    background-color: rgb(5, 5, 97);
    text-align: center;
    font-family: arial;
    padding: 10px;
    color: aliceblue;
    border: 10px solid #10006b;
    border-bottom: none;
    text-decoration: none;
text-shadow: 3px 6px 2px black  ; 
 
}
:hover{
    color: #0d63db;
}


.link {
    color: white;
    background-color: rgb(9, 89, 123);
    text-align: center;
    font-family: arial;
    width: 100%;

    padding: 10px;
    color: aliceblue;
   display: block;
   text-decoration: none;
}   
table{
    background-color: rgb(9, 89, 123);
    color: white;
}



h2 {
    background-color: rgb(182, 196, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}

